body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.truncate-text {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}
#urlDBTable td:nth-child(2) {
    max-width: 300px; /* Adjust max-width as needed */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card {
    margin-bottom: 20px;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#scrapingStatus, #scrapedUrls {
    margin-top: 20px;
}

#scrapedUrls ul {
    list-style-type: none;
    padding: 0;
}

#scrapedUrls li {
    margin-bottom: 5px;
}

/* Custom styles for DataTables responsiveness */
@media screen and (max-width: 768px) {
    /* Reduce font size or adjust column widths for smaller screens */
    #recentlyScrapedTable,
    #urlDBTable {
        font-size: 14px;
    }
}
